html, body, #map {
  height: 100%;
  width: 100vw
}

body {
  padding: 0;
  margin: 0;
}

button {
  background-color: #2736A5;
  color: white;
  width: 75px;
  height: 35px;
  border-radius: 20px;
}

#food-input {
  width: 40%;
  height: 25px;
  margin: 5px 15px;
  padding: 5px;
  border-radius: 20px;
}

.container {
  display: grid;
  height: 100%;
  grid-gap: 4px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 60% 40%;
}
.peta {
  grid-column: 1/-1
}
.gambar {
  background: #EFB51D;
  grid-column: 1/6;
}
.review {
  background: yellow;
  grid-column: 6/-1
}