body {
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px repeat(3, calc(100vh/3 - calc(100px/3))) 50px;
  grid-gap: 4px;
  width: 100%;
}
.menu {
  background: #196E97;
  grid-column: 1/5;
}
.sidebar {
  background: #EFB51D;
  grid-column: 1/2;
  grid-row: 2/5;
}
.konten {
  background: #EFB51D;
  grid-column: 2/5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  background: #2736A5;
  grid-column: 1/5;
}
#profile_picture {
  width: 80%;
  border-radius: 500px;
  padding: 20px;
  align-self: center;
}
button {
  background-color: #2736A5;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 25px;
}